@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
}
body {
    background-color: #20202d;
    font-family: "Roboto", sans-serif;
    color: white;
}
.container {
    max-width: 945px;
    margin: 0 auto;

}
.section-title{
    font-size: 36px;
    font-weight: bold;
    line-height: 42px;
    margin-bottom: 84px;
}
.section{
    padding-top: 64px;
    padding-bottom: 92px;
}
.hero{
    padding-top: 30px;
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));
    
}
.hero-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.social-links{
    display: flex;
    gap: 20px;
    align-items: center;
}

.hero-content {
    padding: 100px 0 155px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    display: inline-block;
    font-family: "Roboto", sans-serif ;
    max-width: 418px;
    margin-top: -10px;
}

.hero-subtitle {
    font-size: 24px;
    color: #FFBB01;
    line-height: 28px;
    display: block;
    margin-bottom: 14px;
}

.hero-title {
    font-weight: bold;
    font-size: 50px;
    padding: 20px 0;
}

.hero-description {
    display: inline-block;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 38px;

}

.button {
    box-shadow: 0 4px 0 0 #b68500;
    background: linear-gradient(180deg, #fdde76 0%, #ffbb01 100%);
    border-radius: 5px 5px 10px 10px;
    border: none;
    padding: 24px 42px;
    font-size: 12px;
    line-height: 14px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.6s ease-in-out;
}
button:hover {
    background: linear-gradient(180deg, #ffbb01 0%, #fdde76 100%);
    transition: all 0.2s ease-in-out;
}
.button:active {
    background: linear-gradient(180deg, #b68500 0%, #ffbb01 100%);
    box-shadow: 0 2px 0 0 #b68500 ;
    transition: all 0.2s ease-in-out;
    margin-top: 2px;
}
.hero-button {
    
}

.hero-avatar {
    width: 389px;
    height: 389px;
    background-color: #fff;
    border-radius: 50%;
    background-image: url(../img/Lucid_Origin_A_highly_detailed_black_and_white_image_of_a_prog_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top -40px;
    border: #d6d6d6 13px solid;
}


/* features */

.features {
    background-color: #000000;
    font-family: "Roboto", sans-serif;
}

.features-block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.feature-item{
    width: 33.333%;
    margin-bottom: 64px;


}
.features-title{
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
    margin: 24px 0 16px 0;
}

.features-text{
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    padding-right: 20px;
}
/* swiper */

   .swiper {
    --swiper-navigation-color: #ffffff;
    --swiper-pagination-color: #ffffff;
    padding: 30px;
}
.swiper-wrapper {
    padding: 30px 0;
}

.swiper-button-prev{
    padding: 35px;
    transition: all 0.3s ease;
}
.swiper-button-prev:hover{
    color: #FFBB01;
    transition: all 0.3s ease;
}
.swiper-button-next{
    padding: 35px;
}

.swiper-button-next:hover{
    color: #FFBB01;
    transition: all 0.3s ease;
}
.swiper-slide{
    display: flex;
    justify-content: center;
    width: 50%;
}



/* contacts */

.contacts-form{
    background: #FFFFFF;
    box-shadow: -5px 5px 0px #FFC41D;
    border-radius: 5px;
    max-width: 380px;
    padding: 40px 48px 49px 48px;
}

.form-title{
    color: #000000;
    font-size: 18px;
    line-height: 28px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 29px;
}

.input{
    background: #F8F8F8;
    box-shadow: inset 0 3px 10px rgba(199, 199, 199, 0.25);
    border-radius: 5px;
    padding: 18px 20px;
    padding-left: 50px;
    width: 100%;
    border: none;
    font-size: 14px;
    line-height: 28px;
}
.input-name{
    margin-bottom: 17px;
    background-image: url(../img/user-icon.svg);
    background-repeat: no-repeat;
    background-position: center left 20px;
}
.input-phone{
    margin-bottom: 24px;
    background-image: url(../img/phone-icon.svg);
    background-repeat: no-repeat;
    background-position: center left 20px;
}
.form-button{
    width: 100%;
}


.contacts-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.contacts-data{
    display: flex;
    flex-wrap: wrap;
    
}
.contacts-text{
    flex-basis: 50%;
}
.contacts-title{
    margin: 0;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    margin: 0;
    margin-bottom: 15px;
}
.contacts-phone, .contacts-mail {
    flex-basis: 50%;
    margin-bottom: 53px;

}
.contacts-social{
    flex-basis: 100%;
    
}

.contacts-link{
    color: inherit;
    text-decoration: none;
    margin-right: 37px;
}
.contacts-link:hover{
    text-decoration: underline;
}
.social-links-footer{
    margin-top: 30px;
}
.contacts-policy{
    font-size: 15px;
    line-height: 18px;
    text-decoration-line: underline ;
    color: #A5A5A5;
    margin-top: 72px;
}